<include file="Base/css" />
<style>
    .now_order_item:hover {
        color: #000;
        cursor: pointer;
    }
    
    .now_order_item {
        color: #555;
        line-height: 80px;
        font-size: 20px;
    }

</style>

<body>
    <!-- 头部 -->
    <include file="Base/header" />
    <div class="main_box">
        <!-- 左侧栏 -->
        <include file="Base/sidebar" />
        <!-- 中间主体 -->
        <div class="ordermain">
            <div class="time_line2">
                <ion-content class="trade_history scroll-content ionic-scroll scroll-content-false  has-header has-tabs" scroll="false">
                    <header>
                        <article class="left-table" onclick="change_category(0)">
                            <p class="lishimingxi">历史明细</p>
                        </article>
                        <article class="right-table active" onclick="change_category(1)">
                            <p class="chicangmingxi">持仓明细</p>
                        </article>
                    </header>
                    <div class="trade_history_list slider" style="visibility: visible;overflow:scroll">
                        <div class="slider-slides" ng-transclude="">
                            <ion-slide class="slider-slide slider-left" data-index="0" style="left: 0px; transition-duration: 300ms; transform: translate(-100%, 0px) translateZ(0px);">
                                <ul>
                                    <volist name="orders" id="order" empty="$empty">
                                        <li class="text-center"><span onclick="detail(this)" data-id="{$order.order_id}" class="now_order_item">您在{$order.create_time}{$order.kind}{$order.product_name}{$order.price}元</span></li>
                                    </volist>
                                </ul>
                                <if condition="$orders">
                                    <div class="text-center">
                                        <div class="pages">
                                            {$page}
                                        </div>
                                    </div>
                                </if>
                            </ion-slide>
                            <ion-slide class="slider-slide slider-right" data-index="1" style="left: 0px; top: -100%; transition-duration: 300ms; transform: translate(0px, 0px) translateZ(0px);">
                                <ul class="uls">
                                </ul>
                            </ion-slide>
                        </div>
                    </div>
                </ion-content>
            </div>
        </div>

        <!-- 右侧栏 -->
        <div class="right_side">
            <div class="ad_header">
                <h2>官方推荐</h2>
                <div class="line"></div>
            </div>
            <ul class="ad_list">
                <li>
                    <a href="">
                        <img width="310" height="189" src="__PUBLIC__/home/upload/img/00f31142bc2000691edb709244e29d89.jpg" alt="" class="ad">
                        <div class="ad_title">鑫洋交易中心</div>
                        <div class="ad_tag">广告</div>
                    </a>
                </li>


            </ul>
        </div>
    </div>



    <include file="Base/footer" />

    <include file="Base/script" />

    <script src="__PUBLIC__/Home/asset/js/hold.js"></script>
    <script type="text/javascript">
        change_category(0)
        const SCOPE = {
            detailOrder: '__CONTROLLER__/detail'
        };

    </script>
    <script>
        function detail(obj) {
            var id = $(obj).attr("data-id");
            var data = {
                "order_id": id
            };
            $.post(SCOPE.detailOrder, data, function(res) {
                    var data = res[0];
                    data['sellprice'] = data['sellprice'] ? data['sellprice'] : '未结算';
                    data['ploss'] = data['ploss'] ? data['ploss'] : '未结算';
                    data['selltime'] = data['selltime'] == "1970-01-01 08:00:00" ? '未结算' : data['selltime'];
                    layer.open({
                        type: 1,
                        content: "<table class=\"kinds\">\n" +
                            "                                <tbody>\n" +
                            "                                <tr>\n" +
                            "                                    <td>名称</td>\n" +
                            "                                    <td>详情</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>商品</td>\n" +
                            "                                    <td class=\"ptitle\">" + res[0]["product_name"] + "</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>成交价</td>\n" +
                            "                                    <td class=\"buyprice\">" + res[0]["buy_price"] + "</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>结算价</td>\n" +
                            "                                    <td class=\"sellprice\">" + res[0]["sellprice"] + "</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>手续费</td>\n" +
                            "                                    <td>" + res[0]["handing_fee"] + "%</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>盈亏</td>\n" +
                            "                                    <td class=\"ploss\">" + res[0]["ploss"] + "</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>成交时间</td>\n" +
                            "                                    <td class=\"buytime\">" + res[0]["create_time"] + "</td>\n" +
                            "                                </tr>\n" +
                            "                                <tr>\n" +
                            "                                    <td>结算时间</td>\n" +
                            "                                    <td class=\"selltime\">" + res[0]["selltime"] + "</td>\n" +
                            "                                </tr>\n" +
                            "                                </tbody>\n" +
                            "                            </table>"
                    });
                }, "json")
                .error(function(err) {
                    layer.alert("异常错误", {
                        icon: 3
                    })
                })
        }

    </script>
</body>

</html>
