<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="__MODULE__/Index"
                    <if condition="CONTROLLER_NAME eq 'Index'">class="active"</if>><i class="lnr lnr-home"></i> <span>仪表盘</span></a></li>
                <li><a href="__MODULE__/BankCard"
                    <if condition="CONTROLLER_NAME eq 'BankCard'">class="active"</if>><i class="fa fa-credit-card"></i> <span>银行卡号管理</span></a></li>
                <li><a href="__MODULE__/Calendar"
                    <if condition="CONTROLLER_NAME eq 'Calendar'">class="active"</if>><i class="lnr lnr-calendar-full"></i> <span>财经日历管理</span></a></li>
                <li><a href="__MODULE__/News"
                    <if condition="CONTROLLER_NAME eq 'News'">class="active"</if>><i class="lnr lnr-file-empty"></i> <span>新闻管理</span></a></li>
                <li><a href="__MODULE__/Product"
                    <if condition="CONTROLLER_NAME eq 'Product'">class="active"</if>><i class="lnr lnr-inbox"></i> <span>产品管理</span></a></li>
                <li><a href="__MODULE__/Order"
                    <if condition="CONTROLLER_NAME eq 'Order'">class="active"</if>><i class="fa fa-file-text"></i> <span>订单管理</span></a></li>
                <li><a href="__MODULE__/Withdrawal"
                    <if condition="CONTROLLER_NAME eq 'Withdrawal'">class="active"</if>><i class="lnr lnr-text-format"></i> <span>提现管理</span></a></li>
                <li><a href="__MODULE__/Recharge"
                    <if condition="CONTROLLER_NAME eq 'Recharge'">class="active"</if>><i class="lnr lnr-linearicons"></i> <span>充值管理</span></a></li>
                <li><a href="__MODULE__/User"
                    <if condition="CONTROLLER_NAME eq 'User'">class="active"</if>><i class="lnr lnr-users"></i> <span>用户管理</span></a></li>
                <li><a href="__MODULE__/Admin"
                    <if condition="CONTROLLER_NAME eq 'Admin'">class="active"</if>><i class="lnr lnr-user"></i> <span>管理员管理</span></a></li>
            </ul>
        </nav>
    </div>
</div>