    <include file="Base/css"/>
</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <include file="Base/navbar"/>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <include file="Base/sidebar"/>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title">银行卡管理</h3>
                <div>
                    <!-- BORDERED TABLE -->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-6"><h3 class="panel-title">银行卡信息表</h3></div>
                                <div class="col-sm-6 text-right">
                                    <span class="btn btn-primary" data-target="#addBankCard" data-toggle="modal"><i class="fa fa-plus-square"></i> 添加银行卡</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>银行卡号</th>
                                    <th>描述信息</th>
                                    <th width="100">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="bankCards" id="bankCard" empty="$empty">
                                <tr class="user-table-font-size">
                                    <td>{$bankCard.bank_card_num}</td>
                                    <td>{$bankCard.intro}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-id="{$bankCard.card_id}" title="删除银行卡信息" onclick="delData(this)">
                                            <i class="fa fa-trash" aria-hidden="true"></i> 删除
                                        </button>
                                    </td>
                                </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                        <!-- END BORDERED TABLE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <include file="Base/footer"/>

<div id="addBankCard" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAdmin">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增银行卡</h4>
            </div>
            <div class="modal-body">
                <input id="bankCardNum" class="form-control" placeholder="银行卡号" type="text">
                <br>
                <textarea id="intro" class="form-control" placeholder="银行卡信息描述"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addBankCard()" data-dismiss="modal">添加</button>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<include file="Base/script"/>
<script>
    const SCOPE = {
        updatePwdUrl: '__MODULE__/admin/update',
        deleteDataUrl: '__CONTROLLER__/del',
        addDataUrl: '__CONTROLLER__/add'
    };

    function addBankCard() {
        var data = {
            'bank_card_num': $("#bankCardNum").val(),
            'intro': $("#intro").val()
        };
        $.post(SCOPE.addDataUrl, data, function (res) {
            showTip(res.msg);
            if (res.code === 0) {
                location.reload();
            }
        }, 'json')
            .error(function (err) {
                showTip("请求失败");
            });
    }
</script>
</body>
</html>
