<include file="Base/css"/>
<link rel="stylesheet" href="__PUBLIC__/admin/vendor/chartist/css/chartist-custom.css">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <include file="Base/navbar"/>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <include file="Base/sidebar"/>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">站点详情</h3>
                        <p class="panel-subtitle">2018/09/10 - {$today}</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                    <p>
                                        <span class="number">{$userCount|num_format}</span>
                                        <span class="title">用户</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-shopping-bag"></i></span>
                                    <p>
                                        <span class="number">{$orderCount}</span>
                                        <span class="title">订单</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="lnr lnr-linearicons"></i></span>
                                    <p>
                                        <span class="number">{$rechargeCount|num_format}</span>
                                        <span class="title">充值</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-university"></i></span>
                                    <p>
                                        <span class="number">{$withdrawalCount|num_format}</span>
                                        <span class="title">提现</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="text-center">近一周本网站的用户登陆情况</h3>
                            <br>
                            <!-- 近一周用户登陆情况 -->
                            <div id="headline-chart" class="ct-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- END OVERVIEW -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- RECENT PURCHASES -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">近期充值请求</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>充值单号</th>
                                        <th>用户</th>
                                        <th>充值金额</th>
                                        <th>时间</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="recharges" id="recharge">
                                        <tr>
                                            <td>{$recharge.recharge_id}</td>
                                            <td><a href="__MODULE__/User/detail?id={$recharge.user_id}">{$recharge.username}</a></td>
                                            <td>￥{$recharge.money}</td>
                                            <td>{$recharge.create_time|showDateTime}</td>
                                            <td <if condition="$recharge.status eq -1">title="{$recharge.msg}"</if>>{$recharge.status|showRechargeStatus}</td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6"></span>
                                    </div>
                                    <div class="col-md-6 text-right"><a href="__MODULE__/Recharge" class="btn btn-primary">查看所有充值信息</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT PURCHASES -->
                    </div>
                    <div class="col-md-6">
                        <!-- MULTI CHARTS -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">近期提现请求</h3>
                                <div class="right">
                                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                </div>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>提现单号</th>
                                        <th>用户</th>
                                        <th>提现金额</th>
                                        <th>时间</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="withdrawals" id="withdrawal">
                                        <tr>
                                            <td>{$recharge.recharge_id}</td>
                                            <td><a href="__MODULE__/User/detail?id={$withdrawal.user_id}">{$withdrawal.username}</a></td>
                                            <td>￥{$withdrawal.money}</td>
                                            <td>{$withdrawal.create_time|showDateTime}</td>
                                            <td <if condition="$withdrawal.status eq -1">title="{$withdrawal.msg}"</if>>{$withdrawal.status|showWithdrawalStatus}</td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6"></span>
                                    </div>
                                    <div class="col-md-6 text-right"><a href="__MODULE__/Withdrawal" class="btn btn-primary">查看所有提现信息</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- END MULTI CHARTS -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <include file="Base/footer"/>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<include file="Base/script"/>
<script src="__PUBLIC__/admin/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="__PUBLIC__/admin/vendor/chartist/js/chartist.min.js"></script>
<script>
    $(function () {
        var data, options;
        // headline charts
        data = {
            // labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            labels: [<volist name="loginMsg.label" id="label">'{$label}',</volist>],
            series: [
                [<volist name="loginMsg.data" id="data">'{$data}',</volist>]
            ]
        };

        options = {
            height: "300px",
            showPoint: true,
            axisX: {
                showGrid: false
            },
            lineSmooth: false,
        };
        new Chartist.Line('#headline-chart', data, options);
    });
</script>
</body>
</html>
