    <include file="Base/css"/>
</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <include file="Base/navbar"/>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <include file="Base/sidebar"/>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title">提现管理</h3>
                <div>
                    <!-- BORDERED TABLE -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">提现信息表</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>提现单号</th>
                                    <th>用户昵称</th>
                                    <th>提现金额</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th width="200">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="withdrawals" id="withdrawal" empty="$empty">
                                <tr class="user-table-font-size">
                                    <td>{$withdrawal.withdrawal_id}</td>
                                    <td><a href="__MODULE__/user/detail?id={$withdrawal.user_id}">{$withdrawal.username}</a></td>
                                    <td>￥{$withdrawal.money}</td>
                                    <td <if condition="$withdrawal.status eq -1">title="{$withdrawal.msg}"</if>>{$withdrawal.status|showWithdrawalStatus}</td>
                                    <td>{$withdrawal.create_time|showDateTime}</td>
                                    <td>
                                        <button <if condition="$withdrawal.status neq 0">disabled</if> type="button" class="btn btn-danger" data-id="{$withdrawal.withdrawal_id}" data-toggle="modal" data-target="#writeIntro" title="拒绝提现请求，需填写拒绝信息" onclick="refuse(this)">
                                            拒绝
                                        </button>
                                        <button <if condition="$withdrawal.status neq 0">disabled</if> type="button" class="btn btn-primary" data-id="{$withdrawal.withdrawal_id}" title="请先查看该用户的详情，点击提现后再转账" onclick="withdrawal(this)">
                                            提现
                                        </button>
                                    </td>
                                </tr>
                                </volist>
                                </tbody>
                            </table>

                            <div class="pages">
                                {$page}
                            </div>
                        </div>
                        <!-- END BORDERED TABLE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <include file="Base/footer"/>
</div>
<div id="writeIntro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="writeIntro">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">填写拒绝理由</h4>
            </div>
            <div class="modal-body">
                <textarea id="msg" class="form-control" placeholder="例如：你还没有实名认证或者你还未填写银行卡号" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="refuseBtn" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<include file="Base/script"/>
<script>
    const SCOPE = {
        updatePwdUrl: '__MODULE__/admin/update',
        deleteDataUrl: '__CONTROLLER__/del',
        showDataUrl: '__CONTROLLER__/detail',
        refuseRechargeUrl: '__CONTROLLER__/refuse',
        withdrawalUrl: '__CONTROLLER__/withdrawal',
    };

    function refuse(ref) {
        $("#refuseBtn").attr('data-id', $(ref).attr('data-id'));
    }

    $("#refuseBtn").click(function () {
        var ref = $(this);
        var id = ref.attr('data-id');
        var msg = $("#msg").val();
        if (msg === '') {
            alert("请填写拒绝理由");
            return;
        }
        $.post(SCOPE.refuseRechargeUrl, {id: id, msg: msg}, function (res) {
            if (res.code === 0) {
                location.reload();
            }
            showTip(res.msg);
        }, 'json')
            .error(function (err) {
                showTip('请求失败');
            })
            .complete(function () {
                $("#intro").val('');
                ref.attr('data-id', '');
            });
    });

    function withdrawal(ref) {
        if (confirm("确认提现?")) {
            var id = $(ref).attr('data-id');
            $.post(SCOPE.withdrawalUrl, {id: id}, function (res) {
                showTip(res.msg);
                if (res.code === 0) {
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            }, 'json')
                .error(function (err) {
                    showTip('请求失败');
                });
        }
    }
</script>
</body>
</html>
