<include file="Base/css" />
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <include file="Base/navbar" />
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <include file="Base/sidebar" />
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">订单管理</h3>
                    <div>
                        <!-- BORDERED TABLE -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">订单信息表</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>订单号</th>
                                            <th>用户名</th>
                                            <th>商品名</th>
                                            <th>充值价格</th>
                                            <th>涨|跌</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>交易时长</th>
                                            <th width="200">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <volist name="orders" id="order" empty="$empty">
                                            <tr class="user-table-font-size">
                                                <td>{$order.order_id}</td>
                                                <td>{$order.username}</td>
                                                <td>{$order.product_name}</td>
                                                <td>{$order.price}</td>
                                                <td>{$order.kind}</td>
                                                <!--<td>{$order.sellprice}</td>-->
                                                <td>{$order.status|showOrderStatus}</td>
                                                <td>{$order.create_time}</td>
                                                <td style="text-align:right;">{$order.buy_time}秒</td>
                                                <td>
                                                    <button <if condition="$order.status neq 0">disabled</if> type="button" class="btn btn-default order_id" data-id="{$order.order_id}" data-toggle="modal" data-target="#writeIntro" onclick="refuse(this)">
                                           结算
                                            </button>
                                                    <button type="button" id="order" data-id={$order.order_id} class="btn btn-primary" onclick="showOrder(this)">
                                            查看
                                            </button>
                                                </td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>

                                <div class="pages">
                                    {$page}
                                </div>
                            </div>
                            <!-- END BORDERED TABLE -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <include file="Base/footer" />
    </div>
    <div id="writeIntro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="writeIntro">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">填写结算价格</h4>
                    <span>注意:该结算价格为已经扣除手续费的价格</span>
                </div>
                <input type="hidden" id="order_id1">
                <div class="modal-body">
                    结算价:<input class="sellprice" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="refuseBtn" type="button" class="btn btn-primary" data-id="{$order.order_id}" onclick="sell(this)">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <include file="Base/script" />
    <script src="__PUBLIC__/home/asset/layer/layer.js"></script>
    <script>
        const SCOPE = {
            showDataUrl: '__CONTROLLER__/detail/id/',
            sellDataUrl: '__CONTROLLER__/sell'
        };

        function refuse(obj) {
            var id = $(obj).attr("data-id");
            $("#order_id1").val(id);
        }

        function showOrder(obj) {
            var id = $(obj).attr("data-id");
            location.href = SCOPE.showDataUrl + id;
        }

        function sell(obj) {
            var id = $("#order_id1").val();
            var sellprice = $(".sellprice").val();
            var data = {
                "id": id,
                "sellprice": sellprice
            };
            $.post(SCOPE.sellDataUrl, data, function(res) {
                    layer.alert(res["msg"], {
                        icon: res["icon"]
                    }, function() {
                        location.reload();
                    });
                }, "json")
                .error(function(err) {
                    layer.alert("异常错误", {
                        icon: 3
                    })
                })
        }

    </script>
</body>

</html>
