<script src="__PUBLIC__/home/asset/js/wpauto.js"></script>
<script src="__PUBLIC__/home/asset/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/home/asset/js/order.js"></script>
<script src="__PUBLIC__/home/asset/layer/layer.js"></script>
<script src="__PUBLIC__/home/asset/js/function.js"></script>
<script src="__PUBLIC__/home/asset/js/base64.js"></script>
<script type="text/javascript">
    var Base64 = new Base64();
</script>
<script type="text/javascript" src="__PUBLIC__/home/asset/js/pc.js"></script>