<div class="left_side">
    <ul>
        <li <if condition="CONTROLLER_NAME eq 'Index'">class="active"</if>><a href="__MODULE__/Index"><i class="list_icon1"></i><span>首页</span></a></li>
        <li <if condition="CONTROLLER_NAME eq 'Product'">class="active"</if>><a href="__MODULE__/Product"><i class="list_icon2"></i><span>产品交易</span></a></li>
        <li <if condition="CONTROLLER_NAME eq 'News'">class="active"</if>><a href="__MODULE__/News"><i class="list_icon3"></i><span>财经新闻</span></a></li>
        <li <if condition="CONTROLLER_NAME eq 'Calendar'">class="active"</if>><a href="__MODULE__/Calendar"><i class="list_icon4"></i><span>财经日历</span></a></li>
        <li <if condition="CONTROLLER_NAME eq 'Order'">class="active"</if>><a href="__MODULE__/Order"><i class="list_icon5"></i><span>交易记录</span></a></li>
        <li <if condition="CONTROLLER_NAME eq 'User'">class="active"</if>><a href="__MODULE__/User"><i class="list_icon6"></i><span>我的</span></a></li>
    </ul>
</div>