<div class="left_side me userleft">
    <ul>
        <li><a href="__MODULE__">首页<i class="icon_right"></i></a></li>
        <li <if condition="ACTION_NAME eq 'Index'">class="active2"</if>><a href="__CONTROLLER__/Index">个人中心<i class="icon_right"></i></a></li>
        <li <if condition="ACTION_NAME eq 'Recharge'">class="active2"</if>><a href="__CONTROLLER__/Recharge">充值<i class="icon_right"></i></a></li>
        <li <if condition="ACTION_NAME eq 'Withdrawal'">class="active2"</if>><a href="__CONTROLLER__/Withdrawal">提现<i class="icon_right"></i></a></li>
        <li <if condition="ACTION_NAME eq 'Userverify'">class="active2"</if>><a href="__CONTROLLER__/Userverify">实名认证<i class="icon_right"></i></a></li>
        <li <if condition="ACTION_NAME eq 'Passwordedit'">class="active2"</if>><a href="__CONTROLLER__/Passwordedit">修改密码<i class="icon_right"></i></a></li>
        <li <if condition="ACTION_NAME eq 'Useredit'">class="active2"</if>><a href="__CONTROLLER__/Useredit">修改信息<i class="icon_right"></i></a></li>
        <li><a href="__MODULE__/Login/logout">退出<i class="icon_right"></i></a></li>
    </ul>
</div>