<include file="Base/css" />

<body>
    <!-- 头部 -->
    <include file="Base/header" />
    <div class="main_box">
        <!-- 左侧栏 -->
        <include file="Base/sidebar" />
        <!-- 中间主体 -->
        <div class="usermain">
            <div class="news_box">
                <div class="small_nav">您当前位置： <a href="__MODULE__/Index/">首页</a> > <a href="__MODULE__/News/">财经新闻</a></div>
                <div class="main_title">{$news.news_title}</div>
                <div class="news_info">发布时间：<span class="writer">• {$news.create_time|showDateTime} •</span></div>
                <br><br>
                <div class="news_centent">
                    {$news.news_content}
                </div>
            </div>
        </div>
        <!-- 右侧栏 -->
        <div class="right_side">
            <div class="ad_header">
                <h2>官方推荐</h2>
                <div class="line"></div>
            </div>
            <ul class="ad_list">
                <li>
                    <a href="/index/user/cjxw_detail?nid=14">
                        <img width="310" height="189" src="__PUBLIC__/home/upload/img/00f31142bc2000691edb709244e29d89.jpg" alt="" class="ad">
                        <div class="ad_title">鑫洋交易中心</div>
                        <div class="ad_tag">广告</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 页脚 -->
    <include file="Base/footer" />

    <include file="Base/script" />
</body>

</html>
