<include file="Base/css"/>

<body class="me">
<!-- 头部 -->
<include file="Base/header"/>
<div class="main_box">
    <!-- 左侧栏 -->
    <include file="Base/user_sidebar"/>
    <!-- 中间主体 -->
    <div class="usermain">
        <div class="reset">
            <form method="post" id="form1">
                <div class="from_group">
                    <span class="mrr"> 新密码 </span><input class="reset_input" type="password" id="oldpwd_"
                                                       placeholder="输入旧密码">
                </div>
                <div class="from_group">
                    <span class="mrr"> 新密码 </span><input class="reset_input" type="password" id="newpwd1_"
                                                       placeholder="输入新密码">
                </div>
                <div class="from_group">
                    <span>确认密码</span><input class="reset_input" type="password" id="newpwd2_"
                                            placeholder="重复新密码">
                </div>
                <input class="submit" type="button" onclick="update();" value="确定修改">
            </form>
        </div>
    </div>
</div>

<!-- 页脚 -->
<include file="Base/footer"/>
<include file="Base/script"/>
<script>
    function update() {
        var oldPwd = $("#oldpwd_").val();
        var newPwd1 = $("#newpwd1_").val();
        var newPwd2 = $("#newpwd2_").val();
        if (!oldPwd) {
            layer.open({
                icon: 2,
                content: '请输入旧密码' + oldPwd
            });
            return false;
        }
        if (newPwd1.length < 6 || newPwd2.length < 6) {
            layer.open({
                icon: 2,
                content: '新密码长度不能小于6位'
            });
            return false;
        }
        if (newPwd1 !== newPwd2) {
            layer.open({
                icon: 2,
                content: '两次输入的密码不一致'
            });
            return false;
        }

        var data = {
            oldPwd: oldPwd,
            newPwd: newPwd1
        };
        $.post('__CONTROLLER__/updatePwd', data, function (res) {
            if (res.code === 0) {
                layer.open({
                    icon: 1,
                    content: res.msg
                });
            } else {
                layer.open({
                    icon: 2,
                    content: res.msg
                });
            }
        }).error(function (err) {
            layer.open({
                icon: 2,
                content: '请求失败'
            })
        })
    }
</script>
</body>
</html>
