<include file="Base/css"/>
<link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap.min.css">

<body class="me">
<!-- 头部 -->
<include file="Base/header"/>
<div class="main_box">
    <!-- 左侧栏 -->
    <include file="Base/user_sidebar"/>
    <!-- 中间主体 -->
    <div class="usermain">
        <form id="form">
            <div class="row">
                <div class="col-sm-3 text-right useredit">手机号：</div>
                <div class="col-sm-7">
                    <span class="useredit">{$Think.session.user.phone}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right useredit">用户名：</div>
                <div class="col-sm-7">
                    <input type="text" id="username" class="form-control" value="{$Think.session.user.username}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right useredit">银行卡号：</div>
                <div class="col-sm-7">
                    <input type="text" id="bankCardNum" class="form-control" value="{$Think.session.user.bank_card_num}">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-3 text-right"></div>
            <div class="col-sm-7">
                <button class="btn btn-primary form-control" onclick="saveUser()">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 页脚 -->
<include file="Base/footer"/>

<include file="Base/script"/>
<script>
    function saveUser() {
        var data = {
            username: $("#username").val(),
            bankCardNum: $("#bankCardNum").val()
        };
        $.ajax({
            url: '',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.code === 0) {
                    layer.open({
                        icon: 1,
                        content: res.msg
                    });
                } else {
                    layer.open({
                        icon: 2,
                        content: res.msg
                    });
                }
            },
            error: function (err) {
                layer.open({
                    icon: 2,
                    content: '请求失败'
                });
            }
        });
    }
</script>
</body>
</html>