<include file="Base/css"/>
<link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap.min.css">

<body class="me">
<!-- 头部 -->
<include file="Base/header"/>
<div class="main_box">
    <!-- 左侧栏 -->
    <include file="Base/user_sidebar"/>
    <!-- 中间主体 -->
    <div class="usermain">
        <form id="form">
            <div class="row">
                <div class="col-sm-3 text-right useredit">认证状态：</div>
                <div class="col-sm-7">
                    <span id="status" class="useredit">{$Think.session.user.status|userVerify}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right useredit">真实姓名：</div>
                <div class="col-sm-7">
                    <input id="trueName" type="text" class="form-control" value="{$Think.session.user.true_name}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right useredit">身份证号：</div>
                <div class="col-sm-7">
                    <input id="trueId" type="text" class="form-control" value="{$Think.session.user.true_id}">
                </div>
            </div>

            <if condition="$Think.session.user.status eq -1">
                <div class="row">
                    <div class="col-sm-3 text-right useredit">认证失败信息：</div>
                    <div class="col-sm-7">
                        <p>{$Think.session.user.verify_msg}</p>
                    </div>
                </div>
            </if>
        </form>
        <div class="row">
            <div class="col-sm-3 text-right"></div>
            <div class="col-sm-7">
                <button id="verifyBtn" class="btn btn-primary form-control" onclick="verify()" <if condition="$Think.session.user.status eq 2">disabled</if>>
                    {$Think.session.user.status|userVerifyBtn}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 页脚 -->
<include file="Base/footer"/>

<include file="Base/script"/>
<script>
    function verify() {
        var data = {
            trueName: $("#trueName").val(),
            trueId: $("#trueId").val()
        };
        $.ajax({
            url: '',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.code === 0) {
                    layer.open({
                        icon: 1,
                        content: res.msg,
                        yes: function () {
                            location.reload();
                        }
                    });

                } else {
                    layer.open({
                        icon: 2,
                        content: res.msg
                    });
                }
            },
            error: function (err) {
                layer.open({
                    icon: 2,
                    content: '请求失败'
                });
            }
        });
    }
</script>
</body>
</html>