.clearfix {
    zoom: 1;
}

.cb {
    clear: both;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.loginbody {
    /* background:url(../images/bg.jpg) no-repeat center; */
    /* background:  #fff; */
    /* overflow:  hidden; */
    /* width: 90%; */
}

.cpjy {
    width: 1195px;
    /*height: 500px;*/
}

.ktop {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    position: relative;
    text-align: center;
    padding: 0.2rem 0rem;
    color: #fff;
    font-size: 0.2rem;
    background: url(../images/bg.jpg) no-repeat center;
}

.back {
    float: left;
}

.ktop .back img {
    width: 0.11rem;
    height: 0.2rem;
}

.large {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.2rem;
    color: #ff3333;
    font-weight: 350;
}

ul.small {
    width: 110%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 0.37rem;
    border: #eaeaea solid 0.01rem;
    background: #f8f8f8;
    border-left: none;
    border-right: none;
    padding-left: 0.2rem;
    margin-left: -5%;
    padding-top: 0.1rem;
    overflow: hidden;
}

ul.small li {
    width: 25.9%;
    /* line-height: 0.35rem; */
    text-align: left;
    /* padding-left: .17rem; */
    /* flex: 0 0 28%; */
}

li span.text {
    color: #999;
    margin-right: 0.07rem;
}

ul.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.15rem;
}

ul.footer li {
    width: 32.5%;
    max-width: 120px;
    /* height: 0.4rem; */
    /* line-height: 0.4rem; */
    color: #fff;
    text-align: right;
    /* padding: .1rem .33rem; */
    */ background: ;
}


.btn_1,
.btn_4 {
    background: #36353a;
}

.btn_2 {
    background: #b6292f;
}

.btn_3 {
    background: #187757;
}

.btn_4 {
    padding-right: 0;
}

.i_1,
.i_2,
.i_3 {
    width: 0.2rem;
    height: 0.18rem;
    position: absolute;
    left: 20%;
    top: 22%;
}

.i_1 {
    background: url(/Public/home/static/wdcc.png) no-repeat;
    background-size: contain;
}

.i_2 {
    background: url(/Public/home/static/xz1.png) no-repeat;
    background-size: contain;
}

.i_3 {
    background: url(/Public/home/static/xz2.png) no-repeat;
    background-size: contain;
}

.i_4 {
    background: url(../images/xs.png) no-repeat;
    background-size: contain;
}

.i_4 {
    width: 0.2rem;
    height: 0.18rem;
    position: absolute;
    left: 37%;
    top: 26%;
}

ul.footer li.xs {
    width: 3.3rem;
    max-width: 100%;
    /* height: 0.4rem; */
    /* line-height: 0.4rem; */
    color: #fff;
    text-align: center;
    padding-right: 0;
}


/*脙茠脝鈥櫭冣�犆⑩偓鈩⒚兤捗⑩偓拧脙鈥毭偮兤捗嗏�櫭兟⒚⑩�毬吢∶兤捗⑩偓拧脙鈥毭偮兤捗嗏�櫭兟⒚⑩�毬吢∶兤捗⑩偓拧脙鈥毭偮⒚兤捗嗏�櫭冣�犆⑩偓鈩⒚兤捗⑩偓拧脙鈥毭偮ッ兤捗嗏�櫭兟⒚⑩�毬吢∶兤捗⑩偓拧脙鈥毭偮嵜兤捗嗏�櫭冣�毭偮⒚兤捗偮⒚兟⒚⑩�毬吢∶冣�毭偮兤捗⑩偓拧脙鈥毭偮�*/

.message_box {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 6%;
    /* border:  red solid; */
    margin-bottom: 0.5rem;
}

.message_box .main {
    padding: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
}

.message_box .ktop {
    border-top-right-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
}

.top_i_box {
    position: relative;
}

i.message_box_top {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    /* border-radius: 0.1rem; */
    border-top-right-radius: 0.1rem;
    /* float: right; */
    position: absolute;
    /* left: 0; */
    top: 0;
    right: -0.19rem;
    background: url(../images/close.png) no-repeat;
    background-size: contain;
}

ul.tabs {
    display: flex;
    /*justify-content:  space-between;*/
    padding: 0.1rem 0;
}

ul.shou li.active .shou1 i {
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    background: url(../images/ok.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.62rem;
    top: 0.03rem;
}

ul.tabs li {
    padding: 0.05rem 0.12rem;
    border-radius: 0.06rem;
    background: #ebebeb;
    position: relative;
    border: #cecdcdf3 solid 1px;
}

ul.tou li {
    padding: 0.07rem 0.1rem;
    font-size: 0.1rem;
}

.shou1 {
    position: absolute;
    left: 0.05rem;
    top: 0;
}

.ul_title {
    width: 110%;
    font-size: .15rem;
    font-weight: 700;
    background: #eee;
    padding: 0.05rem 4%;
    margin-left: -5%;
}

.big {
    font-size: 0.3rem;
    float: left;
    margin-top: 0.1rem;
    text-align: left;
}

.big span {
    font-size: 0.5rem;
}

.shou span {
    font-size: 0.1rem;
    margin-left: -0.05rem;
    /* background:  red; */
}

span.miao {
    font-size: 0.35rem;
    letter-spacing: -0.02rem;
}

sapn.small {
    font-size: 0.14rem;
    font-weight: 700;
    /* padding-bottom: 0.01rem; */
}

.shouxu {
    width: 110%;
    overflow: hidden;
    margin: 0.1rem 0rem;
    border: #eed solid 1px;
    margin-left: -5%;
    padding: 0.05rem 0.15rem;
    font-weight: 700;
}

table.kinds {
    width: 100%;
    text-align: center;
    font-weight: 350;
}

table.kinds tr:first-child {
    background: #ebebeb;
}

table.kinds tr {
    height: 0.35rem;
}

table.kinds tr td {
    border: #e3e3e3 solid 1px;
}

.submit {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-top: 0.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.2rem;
    color: #fff;
    background: #3366cc;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: 0.1rem;
}

.other {
    width: 85%;
    margin: 0 auto;
    color: #999;
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
    font-size: 0.14rem;
}

.tou li.active i {
    display: block;
    width: 0.1rem;
    height: 0.1rem;
    background: url(../images/ok.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0.01rem;
    top: 0.01rem;
}

li.active {
    background: #3366cc !important;
    color: #fff;
}

.ul_title>span {
    display: inline-block;
    width: 0.05rem;
    height: 0.12rem;
    background: #003366;
    margin-right: 0.1rem;
    margin-left: 0.05rem;
}

td.now_price {
    color: red;
}

td.rise {
    color: #f77168;
}

td.fall {
    color: #1cbe51;
}

span.miao {
    font-weight: 700;
}

.shou1 span {
    margin-left: 0;
}


/*脙茠脝鈥櫭冣�犆⑩偓鈩⒚兤捗⑩偓拧脙鈥毭偮ッ兤捗嗏�櫭冣�毭偮⒚兤捗偮⒚兟⒚⑩�毬吢∶冣�毭偮兤捗⑩偓拧脙鈥毭偮γ兤捗嗏�櫭冣�毭偮⒚兤捗偮⒚兟⒚⑩�毬吢∶冣�毭偮兤捗⑩偓拧脙鈥毭偮γ兤捗嗏�櫭冣�犆⑩偓鈩⒚兤捗⑩偓拧脙鈥毭偮ッ兤捗嗏�櫭冣�毭偮⒚兤捗偮⒚兟⒚⑩偓拧脗卢脙鈥γ偮∶兤捗⑩偓拧脙鈥毭偮兤捗嗏�櫭兟⒚⑩�毬吢∶兤捗⑩偓拧脙鈥毭偮�*/

ul.chong {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin:  0; */
    /* padding: 0; */
    margin-bottom: 0.2rem;
}

.chong li {
    /* width: 0.6rem; */
    /* height: 0.3rem; */
    line-height: 0.2rem;
    text-align: center;
    /* font-size: 0.3rem; */
    padding: 0.02rem 0.15rem;
    border-radius: 0.06rem;
    background: #f6f6f6;
    position: relative;
    border: #ededed solid 1px;
    /* margin-right: 0.1rem; */
    margin: 0.05rem 0;
    margin-right: .07rem;
    padding-bottom: 0.01rem;
    /* float:  left; */
}

input.number {
    width: 100%;
    height: 0.35rem;
    background: #f4f4f4;
    border-radius: 0.05rem;
    border: #dfdfdf solid 1px;
    margin-bottom: 0.05rem;
}

ul.pay li {
    height: 0.65rem;
    border-bottom: #ccc solid 1px;
    position: relative;
    padding: 0.1rem 0px;
}

.wx,
.zfb {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
}

.wx {
    background: url(../images/wx.png) no-repeat;
    background-size: contain;
}

.zfb {
    background: url(../images/zfb.png) no-repeat;
    background-size: contain;
}

.detail {
    margin-left: 0.5rem;
}

.radio {
    width: 0.15rem;
    height: 0.15rem;
    position: absolute;
    right: 0;
    top: 0.3rem;
    margin-right: 0.05rem;
    /* font-size: 23px; */
}

.name {
    font-size: 0.15rem;
    font-weight: 700;
}

.info {
    font-size: 0.1rem;
    color: #999;
    margin-top: 0.05rem;
}

.ul_title.no_bg {
    background: no-repeat;
    font-size: .15rem;
    font-weight: 350;
    margin: 0.05rem 0;
    margin-left: -0.1rem;
}

.card_list {
    margin-bottom: 0.2rem;
}

.card_list li {
    position: relative;
    border: none;
    background: #0066cc;
    border-radius: 0.05rem;
    padding: 0.2rem;
    margin-top: 0.1rem;
    color: #fff;
    /* font-weight: 100; */
}

.card .yh {
    left: 0.2rem;
    top: 0.2rem;
    background: url(../images/yh.png);
    background-size: contain;
}

.add .tj {
    left: 0.2rem;
    top: 0.2rem;
    background: url(../images/add.png);
    background-size: contain;
}

.card .name {
    font-weight: 500;
    font-size: 0.15rem;
}

.card .info {
    color: #fff;
    font-size: 0.15rem;
}

li.add {
    padding: 0.3rem 0.2rem;
    background: #ccc;
}


i.i_top_r {
    display: block;
    width: 0.35rem;
    height: 0.35rem;
    margin-top: 0.07rem;
    float: right;
    background: url('../../static/rl.png') no-repeat;
    background-size: contain;
    text-align: center;
    font-size: 0.01rem;
    padding-right: 0.05rem;
    padding-left: 0.3rem;
    /* padding-bottom: 6.02rem; */
}

i.i_top_r span {
    line-height: 0.2rem;
    font-size: 0.18rem;
}

ul.week {
    width: 106%;
    /* height: 0.5rem; */
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
    border-bottom: #ccc solid 1px;
    padding: 0 0.1rem;
    margin-left: -3%;
}

ul.week li {
    padding: 0.05rem;
    text-align: center;
    background: content-box;
}

p.day {
    font-size: 0.14rem;
    font-weight: 400;
    color: #666;
}

p.number {
    font-size: 0.22rem;
    color: #666;
}

.cinfo {
    width: 0.5rem;
    float: left;
    height: 0.8rem;
    margin-right: 0.2rem;
    text-align: center;
    font-size: 0.15rem;
    font-weight: 700;
    margin-top: 0.15rem;
    margin-left: 0.1rem;
}

ul.country {
    width: 108%;
    margin-left: -3%;
}

ul.country li {
    width: 100%;
    /* height: 1.5rem; */
    padding: 0.15rem 0px;
    border-bottom: #ccc solid 1px;
    font-size: 0.13rem;
    padding-bottom: 0.5rem;
}

.more .title {
    font-size: 0.15rem;
    font-weight: 700;
}

.more .data {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0.05rem 0px;
}

.more .data span {
    color: #959595;
}

.more .kind {
    width: 30%;
    float: left;
    text-align: center;
    border: #33cc66 solid 1px;
    margin-right: 0.2rem;
    border-radius: 0.04rem;
    color: #33cc66;
    margin-top: 0.1rem;
    padding: 0.02rem;
}

.more .likong2 {
    width: 30%;
    float: left;
    text-align: center;
    border: #33cc66 solid 1px;
    margin-right: 0.2rem;
    border-radius: 0.04rem;
    color: #33cc66;
    margin-top: 0.1rem;
    padding: 0.02rem;
}

.more .liduo2 {
    width: 30%;
    float: left;
    text-align: center;
    border: #e74c3c solid 1px;
    margin-right: 0.2rem;
    border-radius: 0.04rem;
    color: #e74c3c;
    margin-top: 0.1rem;
    padding: 0.02rem;
}

.more .liduo {
    border: #e74c3c solid 1px;
    background-color: #e74c3c;
    color: #fff;
}

.more .likong {
    border: #24b166 solid 1px;
    background-color: #24b166;
    color: #fff;
}

.more .wuyingxiang {
    border: #fda838 solid 1px;
    background-color: #fda838;
    color: #fff;
}

.more .wuyingxiang2 {
    border: #fda838 solid 1px;
    color: #fda838;
}

.cinfo img {
    width: 70%;
    height: auto;
}

.stars {
    display: flex;
    justify-content: center;
    width: 110%;
    /* margin:  0 auto; */
    /* height: 0.1rem; */
    /* background: url(../images/star.png) no-repeat; */
    /* background-size: 20%; */
}

.stars span {
    display: block;
    width: 0.1rem;
    height: 0.1rem;
    background: url('../images/star.png') no-repeat;
    background-size: contain;
}

.cinfo .time {
    margin: 0.03rem 0px;
}

.footer_nav {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #f8f8f8;
    padding: 0.05rem;
    padding-top: 0.1rem;
    padding-bottom: 0.03rem;
    border-top: #e3e3e3 solid 1px;
}

.footer_nav ul {
    display: flex;
    justify-content: space-around;
}

.footer_item {
    font-size: 0.135rem;
    font-weight: 500;
    text-align: center;
    color: #666;
}

.footer_item img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0.01rem;
}


/*忙路禄氓艩聽茅鈥溌睹∨捗ヂ嵚�*/

ul.card_detail {
    width: 106%;
    margin-left: -3%;
}

ul.card_detail li {
    padding: 0 0.15rem;
    height: 0.5rem !important;
    line-height: 0.6rem;
    border-bottom: #ddd solid 1px;
    /* padding-top: 0.1rem; */
    position: relative;
}

span.card_item {
    font-size: 0.15rem;
    font-weight: 700;
    margin-right: 0.1rem;
}

input.card_input {
    font-size: 0.15rem;
    height: 0.3rem;
    line-height: 0.3rem;
}

.filter-box1,
.filter-box2,
.filter-box3 {
    width: 85%;
    max-width: 510px;
    position: relative;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.1rem;
    left: 0.35rem;
    top: -0.5rem;
}

.filter-box1 {
    left: 0.7rem;
    width: 83%;
}

ul.filter-list.filter-open li {
    height: 0.5rem !important;
    margin-left: -0.2rem;
}

.filter-list li a {
    line-height: 0.5rem !important;
}

input.filter-title {
    color: #717171;
    font-size: 0.15rem !important;
}

.filter-list li.filter-selected {
    background: #36c !important;
}

.ktop.m {
    background: url('../images/top_bg.png') no-repeat;
    background-size: cover;
}

.user img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 我写的（ljw） */
.useredit {
    font-size: 18px;
    line-height: 32px;
}