html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}
html{font-size: 625%;}  
/*body {font-family: "Microsoft YaHei";color: #333;width: 100%;max-width: 640px;min-width: 320px;margin:0 auto;} */

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
body{
    
    position: relative;
}
.loginbody{
    background:url(../images/bg.jpg) no-repeat center;
}

.ktop{
    width:100%;
    height:0.2rem;
    position: relative;
    text-align: center;
    /*margin-top:0.2rem;*/
    color:#fff;
    font-size:0.2rem;
}
.back{
    float:left;
}
.ktop .back img{
    width:0.11rem;
    height:0.2rem;
}
.ktopbody{
    width:95%;
    margin:0 auto;
    height:0.2rem;
}
.klogo{
    position: relative;
    width:100%;
    height:1rem;
    margin-top:0.3rem;
    text-align: center;
}
.klogo img{
    height:1rem;
    width:1.24rem;
}
.kform{
    position: relative;
    width:100%;
    text-align: center;
    margin:0 auto;
    margin-top:0.4rem;

}
.zhanghao{
    width:100%;
    height:0.45rem;
    position: relative;
}
.zhanghao span{
    float:left;
    margin-left:6%;
    height:0.4rem;
    line-height:0.4rem;
    margin-top:0.03rem;
    border-right:0.01rem #ccc solid;
    padding:0 0.1rem;
    font-size:0.14rem;
    position: absolute;
    letter-spacing:0.03rem;
    color:#564454;
}
.zh{
    height:0.45rem;
    width:80%;
    border-radius: 0.45rem;
    padding-left:24%;
    font-size:0.14rem;
    line-height:0.4rem;
    background: #d0d5db;
}
.mima{
    margin-top:0.4rem;
}
.wjmm{
    position: relative;
    width:100%;
    overflow: hidden;
    font-size:0.12rem;
    color:#fff;
    margin-top:0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.wjmm a{
    color:#fff;
}
.denglu{
    position: relative;
    width:100%;
    text-align: center;
    margin-top:0.4rem;
}
.btndl{
    height:0.45rem;
    width:80%;
    border-radius: 0.45rem;
    font-size:0.16rem;
    line-height:0.4rem;
    background: #2e65b5;
    border:none;
    font-family: "Microsoft YaHei";
    color:#fff;
}

/*register*/
.rgform{
    position: relative;
    width:100%;
    text-align: center;
    margin:0 auto;
    margin-top:0.4rem;
}
.rg{
    margin-top:0.18rem;
}
.rgform .sjhm .zh{
    padding-left:34%;
}
.rgform .sjhm .zh{
    padding-left:34%;
}
.rgform .tjm .zh{
    padding-left:30%;
}
.zhuce{
    position: relative;
    width:100%;
    text-align: center;
    margin-top:0.7rem;
}

/*user椤甸潰*/
.ubody{
    width:100%;
    margin:0 auto;
}
.uhead{
    height:2.45rem;
     background:url(../images/user_bg.png) no-repeat;
     background-size:100% 2rem;
     text-align: center;
}
.sptext{
    height:0.6rem;
    line-height: 0.6rem;
    font-size:0.2rem;
    color:#fff;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.uhead .uh_logo{
    width:3.6rem;
    height:1.78rem;
    background:url(../images/user_logo_bg.png) no-repeat;
     background-size:100%100%;
}
.userimg{
    width:0.8rem;
    height:0.8rem;
    position: relative;
    text-align: center;
    margin:0 auto;
    padding-top: 0.15rem;
}
.userimg img{
    display: inline-block;
    width:0.8rem;
    height:0.8rem;
    border-radius: 0.4rem;
    border:0.01rem #ccc solid;
}
.user_juzhong{
    text-align: center;
    font-size: 0.16rem;
    font-family: "Microsoft YaHei";
    padding-top: 0.2rem;
}
.jj2{
    color:#757575;
    overflow: hidden;
}
.fll{
    float:left;
    margin-left:0.2rem;
}
.frl{
    float:right;
    margin-right:0.2rem;
    overflow: hidden;
}
.jinbi{
    /*display: block;*/
    float:right;
    width:0.16rem;
    height:0.16rem;
    background:url(../images/jinbi.png) no-repeat;
    background-size:100%100%;
    margin-top: 0.02rem;
    margin-right: 0.03rem;
}
.daohang{
    height:1rem;
    width:3.3rem;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-left:0.15rem;
}
.daohang ul li{
    text-align: center;
    float:left;
    margin:0 auto;
    margin-top:0.17rem;
}

.daohang ul li img{
    display: block;
    width:0.3rem;
    height:0.3rem;
    margin: 0 auto;
}
.daohang ul li span{
    font-size:0.16rem;
    margin-top:0.10rem;
    display: block;
}
.daohang ul .ml200{
    margin-left:0.43rem;
}
.daohang ul .ml201{
    margin-left:0.5rem;
}
.fjx{
    width:100%;
    height:0.1rem;
    background: #f1f1f1;
}
.daohang2{
    font-size:0.16rem;
    height:1.6rem;
    text-align: center;
}
.daohang2 ul li{
    float:left;
    width:1.193rem;
    height:0.8rem;
    padding-top: 0.3rem;
}

.daohang2 ul li img{
    width:0.18rem;
    height:0.18rem;
}
.borderb{
    border-bottom: 0.01rem solid #f1f1f1;
}
.borderr{
    border-right: 0.01rem solid #f1f1f1;
}

.floorf{
    position:fixed;
    width:100%;
    height:0.5rem;
    bottom: 0rem;
    background: #f8f8f8;
    text-align: center;
}
.floorf ul li{
    float:left;
    text-align: center;
    width:25%;
    padding-top:0.04rem;
}
.floorf ul li img{
    display: block;
    width:0.22rem;
    height:0.22rem;
    margin: 0 auto;
}

/*浜岀淮鐮侀〉闈�*/
.code_body{
    width:100%;
    text-align: center;
    margin:0 auto;
}
.codehead{
    height:0.54rem;
    color:#fff;
    line-height:0.54rem;
    font-size:0.2rem;
    background:url(../images/head_bg.png) no-repeat;
    background-size:100%100%;
    text-align:center;
}
.codehead img{
    position: absolute;
    height:0.2rem;
    left:0.15rem;
    top:0.17rem;
    
}
.codelogo{
    height:1rem;
    padding:0.15rem;

}
.logo_l{
    width:0.7rem;
    height:0.7rem;
    float:left;
}
.logo_l img{
    width:0.7rem;
    height:0.7rem;
    border-radius: 0.35rem;
}
.logo_r{
    height:0.7rem;
    float:left;
    text-align: left;
    font-size: 0.16rem;
    padding-top: 0.1rem;
    margin-left: 0.2rem;
    line-height: 0.26rem;
}
.logo_r span{
    display: block;
}
.clccc{
    color:#757575;
}
.codeimg{
    margin: 0.3rem auto;
    width:2.5rem;
    height:2.5rem;
    border:0.01rem solid #e8e4e6;
}
.codeimg img{
   width:2.1rem;
   height:2.1rem;
   margin:0.2rem auto;
}

/*浜ゆ槗鍒楄〃*/
.jy_body{
    width:100%;
    margin:0 auto;
}
.jy_head{
    height:0.54rem;
    background:url(../images/head_bg.png) no-repeat;
    background-size:100%100%;
}
.jylogo_l{
    width:0.45rem;
    height:0.45rem;
    margin-top:0.04rem;
    margin-left:0.15rem;
    float:left;
}
.jylogo_l img{
    width:0.45rem;
    height:0.45rem;
    border-radius: 0.225rem;

}
.jylogo_r{
    height:0.45rem;
    float:left;
    color:#e6e8ea;
    font-size:0.12rem;
    line-height: 0.18rem;
    margin-top: 0.1rem;
    margin-left: 0.13rem;
}
.jylogo_r span{
    display: block;
}
.hdtc{
    float:right;
    margin-right:0.15rem;
    height:0.18rem;
    margin-top:0.18rem;
}
.jy-header{
    width:100%;
    height:0.37rem;
    line-height: 0.37rem;
    text-align: center;
    background:#f8f8f8;
    font-size:0.16rem;
    margin-top:0.1rem;
}
.jy-header ul li{
    float:left;
    width:25%;
}
.jy-body{
    height:0.45rem;
}
.jy-body ul{
    display: block;
    border-bottom: 1px #ddd solid;
    overflow: hidden;
}
.jy-body ul li{
    position: relative;
    text-align: center;
    float:left;
    width:25%;
    height:0.45rem;
    font-size:0.15rem;
    line-height:0.45rem;
}

.rise-value{
    display: inline-block;
    width:100%;
    height:0.3rem;
    margin-top: 0.07rem;
    line-height: 0.3rem;
    background: #f77168;
    color:#fff;
}
.fall-value{
    display: inline-block;
    width:100%;
    height:0.3rem;
    margin-top: 0.07rem;
    line-height: 0.3rem;
    background: #1cbe51;
    color:#fff;
}
.xiu-value{
    display: inline-block;
    width:100%;
    height:0.3rem;
    margin-top: 0.07rem;
    line-height: 0.3rem;
    background: #807F7E;
    color:#fff;
}
.rise{
    color:#f77168 !important;
}
.fall{
    color:#1cbe51 !important;
}
.xiu{
    color:#807F7E;
}
.xiulogo{
    position: absolute;
    background: #807F7E;
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    line-height: 0.18rem;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.12rem;
    top: 0.05rem;
    z-index: 99;
    right: -0.08rem;
    border: 0.01rem solid #fff;
}
.kffixd{
    position: fixed;
    width:100%;
}
.rgform .hqyzm{
    float: right;
    width: 1rem;
    color: #fff;
    border-radius: 0.3rem;
    height: 0.40rem;
    line-height: 0.40rem;
    background: #2e65b5;
    position: absolute;
    right: 0.39rem;
    letter-spacing: 0rem;
}

.rgform .yzm .zh {
    padding-left: 28%;
}

.order-p{position:fixed;bottom:0.8rem;width:100%;}
.order-p .order-item{width:70%;height:30px;padding:0 10px;line-height:30px;text-align:center;margin:0 auto;background-color:rgba(29, 27, 27, 0.33);color:#fff;}

.jy_head .back{
    position: absolute;
    height:0.2rem;
    left:0.15rem;
    top:0.17rem;
    
}
.jy_body .jy_head .userlogo{
    float:right;
    margin-right:0.15rem;
}
.jy_body .jy_head .userx{
    float:right;
    text-align: right;
}

/*鍘嗗彶璁板綍椤甸潰*/

.trade_history{
    /*background: #323232;*/
    color: #737373;
}
.trade_history p{
    margin: 0;
}
.trade_history header{
    width: 100%;
    height: 0.35rem;
    background: #f8f8f8;
    display: flex;
}
.trade_history header article{
    flex: 1;
    height: 100%;
    /*border-bottom: 1px solid #181818;*/
}
.trade_history header article:nth-of-type(1) p{
    border-right:1px solid #ccc;
}
.trade_history header article p{
    height: 0.23rem;
    margin: 0.06rem 0;
    line-height: 0.23rem;
    text-align: center;
    font-size:0.15rem ;
    
}
.trade_history header article.active{
    color: #3889ce;
    border-bottom: 1px solid #3889ce;
}

.trade_history_list{
    width: 100%;
    height: 94%;
}
.trade_history_list ul{
    width: 100%;
    
    /*background: #323232;*/
}
.trade_history_list ul li{
    width: 100%;
    height: 0.73rem;
    /*border-top:1px solid #404040;*/
    border-bottom: 1px solid #98a7c3;
    color: #000;
    /*background: #282828;*/
    position: relative;
}
.trade_history_list ul li article{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 0.1rem;
    left: 0;
    bottom: -0.05rem;
    background: transparent;
}
.trade_history_list ul li article i{
    display: inline-block;
    vertical-align: top;
    margin-top:0.02rem ;
    width: 0.06rem;
    height: 0.06rem;
    border-radius:50% ;
    background: #ffe88a;
    box-shadow: 0 0 0.05rem #e98271;
    float: right;
}
.trade_history_list ul li article i em{
    display: block;
    width: 0.04rem;
    height: 0.04rem;
    margin:0.01rem ;
    background: red;
}
/*闂儊鍙充晶*/
.trade_history_list ul li article span{
    display: inline-block;
    vertical-align: top;
    margin-top:0.05rem ;
    height: 0.02rem;
    background: #f77168;
    float: right;
}
.trade_history_list ul li section{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    height: 0.7rem;
    padding-top: 0.05rem;
    text-align: center;
}
.trade_history_list ul li section:nth-of-type(1){
    width: 60%;
    padding-left:2%;
    float: left;
}
.trade_history_list ul li section:nth-of-type(2){
    width: 40%;
    padding-right: 2%;
    float:right;
}
.trade_history_list ul li section:nth-of-type(1) p{
    height: 0.16rem;
    line-height: 0.16rem;
    text-align: left;
    font-size: 0.12rem;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1){
    height: 0.3rem;
    line-height: 0.3rem;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(1){
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 100%;
    font-size: 0.16rem;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2){
    font-size:0.12rem ;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2) i{
    display: inline-block;
    vertical-align: middle;
    margin-right:0.05rem ;
    width: 0.12rem;
    height: 0.12rem;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2) .buytop{
    background: url(../img/buytop.png);
    background-size:100% 100% ;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2) .buydown{
    background: url(../img/buydown.png);
    background-size:100% 100% ;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(3){
    color: #696969;
}
.trade_history_list ul li section:nth-of-type(2) p:nth-of-type(1){
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.24rem;
    text-align: right;
}
.trade_history_list ul li section:nth-of-type(2) p:nth-of-type(2){
    height: 0.25rem;
    line-height: 0.25rem;
    font-size: 0.13rem;
    text-align: right;
}

.out_money {
    color: #1cbe51 !important;
}
.in_money {
    color: #f77168 !important;
}

.modal-backdrop, .modal-backdrop-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.ng-hide{
    display: none  !important;
}
.active{
    display: block  !important;
}
.rise {
    color: #f77168  !important;
}
.fall{
    color:#1cbe51  !important;
}
.trade-content header section p.fall{
    color:#1cbe51;
}
.trade-content header section p.rise{
    color: #f77168;
}
.trade-content nav{
    height: 0.4rem;
    background: #11264b;;
    display: flex;
    width: 100%;
    padding: 0 2%;
}
.trade-content nav section{
    flex: 1;
    color: #737373;
    margin-top:0.03rem;
    height: 0.34rem;
    line-height: 0.34rem;
    text-align: center;
    font-size: 0.13rem;
}
.trade-content nav article{
    padding: 0 0.02rem;
    flex: 2;
    height: 0.3rem;
    display: flex;
    border-radius:0.1rem ;
    background: #555961;
    color: white;
    margin-top:0.05rem ;
}
.trade-content nav article span{
    display: inline-block;
    height: 0.26rem;
    margin-top:0.02rem;
    flex: 1;
    text-align: center;
    font-weight: 700;
    line-height: 0.26rem;
}
.trade-content nav article span.active{
    color: #fdbe19;
    background: #323237;
    border-radius:0.1rem ;
    box-shadow: 0 0 2px #3e3c42;
    
}
.trade-content nav section.active{
    color: #fdbe19;
    border-bottom:1px solid #fdbe19 ;
}

.trade-content footer{
    width: 100%;
    height: 52%;
    position: relative;
}
.trade-content footer .history_chart{
    position: absolute !important;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 4.4rem;
}
.trade-content footer .chart-tip {
    position: absolute;
    left: 0.1rem;
    top: -0.5%;
    color: white;
}

.trade-content footer .func-tip {
    position: absolute;
    left: 0.1rem;
    top: 70%;
    color: white;
}

.trade-content footer .chart-tip > ul > li {
    float: left;
    margin-right: 5px;
    font-size: 12px;
}

.trade-content footer .func-tip > ul > li {
    float: left;
    margin-right: 5px;
    font-size: 12px;
}

.trade-content footer .history-open {
    color: red;
}

.trade-content footer .history-close {
    color: blue;
}

.trade-content footer .history-high {
    color: green;
}

.trade-content footer .history-low {
    color: yellow;
}

#container>.txt1{position:absolute;left:0.05rem;top:0; color:#fff;}
#container>.txt2{position:absolute;left:0.05rem;bottom: 1.32rem;color:#fff;}
#container>.txt1>span,#container>.txt2>span{margin-right:0.05rempx;font-size:0.1rem;}
#container>.txt1>span.b{color:red;}
#container>.txt1>span.c{color:blue;}
#container>.txt1>span.d{color:green;}
#container>.txt1>span.e{color:yellow;}

#container>.txt2>span.b{color:red;}
#container>.txt2>span.c{color:blue;}
#container {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    /*position: relative;*/
    background: rgb(238, 238, 238);
    background: #0e1f3e;
}
.fooertab{
    /*background: #0e1f3e;*/
    padding:0 0.15rem;
    /*padding-bottom: 0.15rem;*/
}
.trade-content header{
    background: #0e1f3e;
    height: 0.7rem;
    width: 100%;
    border-top:1px solid black;
    display: flex;
}
.trade-content header section{
    height: 0.7rem;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    padding-top: 0.15rem;
}
.trade-content header section p{
    margin:0;
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.12rem;
    width: 100%;
    text-align: left;
    color: #737373;
}
.trade-content header section p:nth-of-type(2){
    font-size: 0.16rem;
    font-weight: 700;
}
.trade-content header section:nth-of-type(1){
    padding: 0;
    -webkit-flex-basis: 40%;
    flex-basis: 40%;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.7rem;
    font-weight: 800;
}
.bd{
    background: #0e1f3e;
}
.glass_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left top, rgba(255, 177, 0, 0.49), rgba(0, 161, 255, 0.76));
    background: -moz-linear-gradient(left top, rgba(255, 177, 0, 0.49), rgba(0, 161, 255, 0.76));
    background: linear-gradient(left top, rgba(255, 177, 0, 0.49), rgba(0, 161, 255, 0.76));
    z-index: 10000;
    display: block;
    top:0;
}
.trade-view .order-confirm-panel.open {
    display: block;
}
.trade-view .order-confirm-panel {
    display: none;
    z-index: 20;
}
.scroll{
    width:100%;
    height:100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.period-widget-view{
    width:2000px;
}
ul.tabs li{
    float:left;
    margin-left:0.05rem;
    width:0.95rem;
}
.amount{
    width: 100%;
    overflow: hidden;
}
.amount_scroll{
    width: 75%;
    margin-right: 0.05rem;
    /*height: 50px;*/
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
}
.amount-view{
    width:2000px;
}
.amount-view ul.tabs li {
    float: left;
    margin-left: 0.05rem;
    width: 0.55rem;
}

.other-amount {
    width: 85px;
    height: 40px;
    float: left;
}

.other-amount.active {
    border: 1px solid #fdbe19;
    border-radius: 3px;
    overflow: hidden;
}

.other-amount input {
    color: white !important;
    width: 85px;
    height: 40px;    
    font-size: 18px;    
    line-height: 40px;
    text-align: center;
    background: #ebebeb;
    border-radius: 3px;
}

.active .other-amount input {
    background: #3366cc !important;
    background: #ebebeb;

}
.ng-hide{
    display: none;
}


.trade-view .order-state-panel {
    display: none;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 78%;
    margin-left: -45%;
    height: 310px;
    margin-top: -155px;
    background-color: #1b1a1e;
    border-radius: 10px;
    z-index: 20;
}

/*鍊掕鏃跺渾褰㈣繘搴︽潯*/
.circle_wrapper {
    position: relative;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 120px;
    margin: auto;
    width: 110px;
    height: 127px;
    box-sizing: content-box;
}

.right_circle,.left_circle {
    position: absolute;
    width: 110px;
    height: 110px;
    overflow: hidden;
    top: 8px;
}
.right_circle {
    right: -50%;
}
.left_circle {
    left: -50%;
}
.right_circle > img {
    width: 100%;
    position: absolute;
    right: 50%;
    -webkit-animation: run 5s linear;
    animation-fill-mode: forwards;

}
@-webkit-keyframes run{
    0{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.left_circle > img {
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-animation: runaway 5s linear;
    animation-fill-mode: forwards;
}
@-webkit-keyframes runaway{
    0{
        transform: rotate(0);
    }
    50%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

.trade-view .order-state-panel .close {
    line-height: 44px;
    color: #6d6d6d;
    font-size: 28px;
    vertical-align: middle;
}

.trade-view .order-state-panel .success {
    color: white;
    border-top: 1px solid #2b2930;
}

.trade-view .order-state-panel .success .pupil_success {
    position: relative;
    height: 150px;
    text-align: center;
    padding-left: 0px !important;
}

.trade-view .order-state-panel .success .pupil_success p:nth-of-type(1) {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    color: #fdbe19;
    font-size: 18px;
    height:20px;
}

.trade-view .order-state-panel .success .pupil_success p:nth-of-type(2) {
    position: absolute;
    top:60%;
    width: 100%;
    color: #fff;
    font-size: 12px;
    height:15px;
    text-align: center;
}

.trade-view .order-state-panel .success .pupil_success p:nth-of-type(2) span {
    color: #6d6d6d;
}

.trade-view .order-state-panel .success .row {
    height: 70px;
    padding-top: 10px !important;
    border-top: 1px solid #333235;
}

.trade-view .order-state-panel .success .row .col {
    height: 30px;
}

.trade-view .order-state-panel .success .info_list .col {
    height: 40px;
    border-right: 1px solid #000;
    border-left: 1px solid #333235;
}

.trade-view .order-state-panel .success .info_list .first_info {
    border-left: 0;
}

.trade-view .order-state-panel .success .info_list .last_info {
    border-right: 0;
}

.trade-view .order-state-panel .success .row .col > p:nth-child(1) {
    font-size: 12px;
    color: #6d6d6d;
    text-align: center;
    margin-bottom: 0;
}

.trade-view .order-state-panel .success .row .col > p:nth-child(2) {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.trade-view .order-state-panel .success .remaining {
    position: relative;
    height: 138px;
    border-bottom: 1px solid #000;
}

.trade-view .order-state-panel .success .count_remaining {
    margin-top: -128px !important;
}

.trade-view .order-state-panel .success .remaining > div >div:nth-of-type(1) {
    font-size: 40px;
    color: #fdbe19;
    text-align: center;
    /*margin-top: 0.04rem;*/
}

.trade-view .order-state-panel .success .remaining > div >div:nth-of-type(2) {
    font-size: 12px;
    color: #6d6d6d;
    text-align: center;
    /*margin-top: 16px;*/
}

.trade-view .order-state-panel .success .remaining > div >div:nth-of-type(3) {
    font-size: 14px;
    color: #fa2e42;
    text-align: center;
}

.trade-view .order-state-panel .success .finish_remaining .result_profit {
    margin-top: 0 !important;
    height: 105px;
    line-height: 105px;
}

.trade-view .order-state-panel .success .finish_remaining .expired_statements {
    margin-top: -30px !important;
}


.trade-view .order-state-panel .success .remaining > .col {
    color: red;
    font-size: 40px;
    text-align: center;
    height: 105px;
    padding-left: 0px !important;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto !important;
}

.trade-view .order-state-panel .success .remaining > .col > img {
    width: 100px;
}

.trade-view .order-state-panel .wait .row {
    height: 150px;
    line-height: 150px;
}

.trade-view .order-state-panel .wait .row .col {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    padding-left: 0px !important;
}

.trade-view .order-state-panel .button_row {
    position: absolute;
    bottom: 15px;
    padding-right: 20px !important;
}

.trade-view .order-state-panel .wait .row .col i {
    color: yellow;
    font-size: 25px;
}

.trade-view .order-state-panel .fail .row .col {
    color: white;
    font-size: 20px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    padding-left: 0px !important;
}

.trade-view .order-state-panel .fail .row .col i {
    color: red;
    font-size: 25px;
}

.order-confirm-panel  .trade-view .order-state-panel .button {
    width: 96%;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(255, 91, 45);
}

 .trade-view .order-state-panel .button {
    width: 100%;
    height: 40px;
    min-height: 0;
    line-height: 40px;
    font-size: 15px;
    font-family: "microsoft yahei";
    color: #000000;
    background-color: #fdbe19;
    left: 0;
 }

 /*姣涚幓鐠冩晥鏋�*/
.glass_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left top, rgba(255, 177, 0, 0.49), rgba(0, 161, 255, 0.76));
    background: -moz-linear-gradient(left top, rgba(255, 177, 0, 0.49), rgba(0, 161, 255, 0.76));
    background: linear-gradient(left top, rgba(255, 177, 0, 0.49), rgba(0, 161, 255, 0.76));
    z-index: 10000;
    display: block;
}

.trade-view .order-state-panel.open {
    display: block;
}

.order-confirm-panel .panel-header,.order-state-panel .panel-header {
    position: relative;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    color: white;
    text-align: center;
    background-color: #0f1929;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 0 10px;
    font-family: "microsoft yahei";
}

.order-state-panel .panel-header > div{
    color: #fdbe19;
    border-bottom: 1px solid #000;
}

.order-confirm-panel .panel-header > div {
    border-bottom: 1px solid #000;
}

.invest_account span{
    text-align: right;
    color: #FF0000;
    display: inline-block;
    width: 78%;
}

.panel-header {
    position: relative;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    color: white;
    text-align: center;
    background-color: #282828;
}

.close_tag {
    color: #6d6d6d;
    font-size: 28px;
    vertical-align: middle;
}

.end_time,.invest_account,.info-view > div {
    font-size: 12px;
    color: #6D6D6D;
    font-family: "microsoft yahei";
}

.order-confirm-panel .panel-body,.order-state-panel .panel-body {
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #11213e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 0 10px;
    margin-top: 1px;
    background-image: url(../img/back_logo.png);
    background-size: 150px;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.panel-body {
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #1b1a1e;
    border-top: 1px solid #2b2930;
}

.end_time {
    color: #6D6D6D;
}

.panel-header .close {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
}

.order-panel {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -160px;
    height: 181px;
    background-color: rgb(30, 30, 40);
}

.order-panel.open {
    bottom: 44px;
    -webkit-transition: bottom 300ms ease-out;
    -moz-transition: bottom 300ms ease-out;
    -ms-transition: bottom 300ms ease-out;
    -o-transition: bottom 300ms ease-out;
    transition: bottom 300ms ease-out;
}

.panel-body .button-bar .button-update-order {
    color: rgb(203, 204, 211);
    position: absolute;
    width: 50px;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    height: 146px !important;
    border: none !important;
    background-color: #006600;
}

.panel-body .button-bar .button-close {
    color: rgb(203, 204, 211);
    position: absolute;
    width: 50px;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    height: 111px !important;
    border: none !important;
    background-color: #006600;
}

.panel-body .order-info {
    position: absolute;
    right: 50px;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.panel-body .button-bar {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50px;
}

.panel-body .button-bar .button-bid {
    color: rgb(203, 204, 211);
    position: absolute;
    width: 50px;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    height: 73px !important;
    border: none !important;
    background-color: rgb(185, 60, 65);
}

.panel-body .button-bar .button-ask {
    color: rgb(203, 204, 211);
    position: absolute;
    width: 50px;
    left: 0px !important;
    right: 0px !important;
    top: 73px !important;
    bottom: 0px !important;
    border: none !important;
    background-color: #006600;
}

.limit-order-panel .button-bar .button-bid {
    height: 106px !important;
}

.limit-order-panel .button-bar .button-ask {
    top: 106px !important;
}

.limit-order-panel {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -260px;
    height: 253px;
    background-color: rgb(30, 30, 40);
}

.limit-order-panel.open {
    bottom: 44px;
    -webkit-transition: bottom 300ms ease-out;
    -moz-transition: bottom 300ms ease-out;
    -ms-transition: bottom 300ms ease-out;
    -o-transition: bottom 300ms ease-out;
    transition: bottom 300ms ease-out;
}

.trade-footer .row .col-40 .badge {
    position: absolute;
    right: 5px;
    top: 5px !important;
    font-size: 10px !important;
    padding: 0px 8px;
}

.panel-body .order-info .list .item {
    margin: 0px;
    padding: 0px;
    height: 35px;
    border: none;
    margin-top: 1px;
    line-height: 35px;
    background-color: rgb(30, 30, 40);
    border-bottom: 1px solid rgb(38, 40, 52) !important;
}

.panel-body .order-info .list .item .input-label {
    color: rgb(203, 204, 211);
    text-align: center;
    font-size: 12px;
}

.panel-body .order-info .list .item .content-label {
    color: rgb(203, 204, 211);
    text-align: center;
    font-size: 12px;
}

.panel-body .order-info .list .item input,
.panel-body .order-info .list .item .input-content,
.panel-body .order-info .list .item select {
    color: rgb(203, 204, 211);
    font-size: 12px;
    background-color: rgb(30, 30, 40);
}

.panel-body .order-info .order-qoute {
    color: red;
    font-size: 18px;
    text-align: center;
}

.history-panel > .panel-body .list > .item {
    border: none;
    font-size: 14px;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 1px;
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 40);
    border-bottom: 1px solid rgb(38, 40, 52) !important;
}

.panel-body .list .category {
    width: 30px;
    text-align: center;
}

.panel-body .list .quantity {
    width: 50px;
    text-align: center;
}

.history-panel > .panel-body > .scroll-view {
    height: 100%;
    overflow-y: hidden;
    bottom: auto;
}

.history-panel .panel-body .row {
    padding: 0px;
    margin: 0px;
    display: table;
}

.history-panel .panel-body .row .col {
    padding: 0px;
    margin: 0px;
    width: auto;
    text-align: center;
    display: table-cell;
}

.order-modal-header {
    border: none;
    background-image: none;
    background-color: black;
    height: 40px;
    line-height: 40px;
}

.order-modal-header h1 {
    color: white;
    font-size: 14px !important;
}
.order-modal-header  .title{
        height:40px !important;
        line-height:40px !important;
}
.order-modal-header .close {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 0.4rem;
    font-size: 25px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    color: white;
}

.order-modal-content {
    background-color: rgb(30, 30, 40);
    overflow:visible;
    height:100%;
}

.order-modal-content .list > .item {
    border: none;
    font-size: 12px;
    padding: 0px;
    height: 51px;
    line-height: 51px;
    margin-bottom: 1px;
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 40);
    border-bottom: 1px solid rgb(38, 40, 52) !important;
}

.order-modal-content .list > .item input {
    color: white;
}

.order-modal .button-bar {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    line-height: 45px;
    position: absolute;
}

.order-modal .button-bar .button-dark {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    border: none !important;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(38, 40, 52);
}

.order-modal .button-bar .button-balanced {
    font-size: 14px;
    border: none !important;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(185, 60, 65);
}

.order-modal .input-label {
    color: rgb(200, 200, 200);
    font-size: 14px;
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.order-modal .input-content {
    color: rgb(200, 200, 200);
    font-size: 14px;
}
.button {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
}
.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}


.trade-view .history-panel {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 10%;
    background-color: rgb(30, 30, 40);

    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow:2px 2px 5px #333333;
}

.trade-view .history-panel.open {
    top: 2.5rem;
    bottom: 0.5rem;
    -webkit-transition: top 300ms ease-out;
    -moz-transition: top 300ms ease-out;
    -ms-transition: top 300ms ease-out;
    -o-transition: top 300ms ease-out;
    transition: top 300ms ease-out;
}


.trade-view .trade_history_list ul li{
    color:#fff;
}
.xgtx{
    margin-top:0.1rem;
        padding: 0 0.05rem;
    padding-bottom:0.1rem;
    border-bottom: #ddd solid 1px;
}
.yrz{
    color:#f1b926;
        padding-left: 26px;
}
.wrz{
    color:#999;
    padding-left: 25px;
}
.wtg{
    color:red;
}
.lm{
    padding-left:0.05rem;
}
.modal-open {
  pointer-events: none; }
  .modal-open .modal,
  .modal-open .modal-backdrop {
    pointer-events: auto; }
  .modal-open.loading-active .modal,
  .modal-open.loading-active .modal-backdrop {
    pointer-events: none; }
.modal-bank{
        position: fixed;
    background: rgba(45, 29, 20, 0.68);
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: scroll;
}
.main .card_list .txbg li{
    background: #fff;
    border-bottom: #ddd solid 0px;
    border-top: #ddd solid 0.01rem;
        border-radius: 0rem;
}
.main .card_list .txbg {
    background: #fff;
}
.main .card_list .txbg .card_item{
    color:#000;
}
.fttx{
    color:#999;
    padding:0.08rem 0.08rem;
}
.user_btn{
    padding:0.15rem 0.15rem;
    border-bottom: 0.01rem #ccc solid;
    text-align: left;
    overflow: hidden;
}
.user_btn h5{
    clear:both;
    padding-top:0.05rem;
}
.tgfy_group{
    clear:both;
    width: 428px;
    margin: 0 auto;
    margin-top: 26px;
}
.tgfy
{
    display: inline-block;
    background: #efedee;
    width: 332px;
    height: 35px;
    text-align: left;
    line-height: 35px;
    padding-left: 10px;
    border: #d0cfcf solid 1px;
    border-radius: 8px;
    /* margin: 0 auto; */
    margin-left: 30px;
    color: #2d2828;
}